apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mergeable.fullname" . }}
  labels:
    {{- include "mergeable.labels" . | nindent 4 }}
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "mergeable.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "mergeable.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "mergeable.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- range $envName, $envValue := .Values.ContainerEnvs }}
          - name: {{ $envName }}
            {{- if eq (printf "%T" $envValue) "map[string]interface {}" }}
            valueFrom:
              {{ $envValue.type }}:
                {{- if $envValue.prefixFullName }}
                name: {{ template "<CHARTNAME>.fullname" $ }}{{ $envValue.name }}
                {{- else }}
                name: {{ $envValue.name }}
                {{- end }}
                key: {{ $envValue.key }}
            {{- else }}
            value: {{ $envValue | quote }}
            {{- end }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.ContainerPort}}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /probot
              port: http
          readinessProbe:
            httpGet:
              path: /probot
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}